* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

body {
    background: #cecece;
}

table td {
    text-align: center;
}


table {
    border: 5px solid black;
    position: relative;
    margin: 20px auto;
    width: 800px;
    height: 140px;
    background: gray;
}
