<h1 class="title">SYSCOMPILER</h1>
     
      <form class="form-inline">

        <form class="form-inline">   
          <input accept=".sc" id="archivo" type="file" (change)="CargarArchivo($event)" >
        </form>
        
        <form class="form-inline">
          <button mdbBtn (click)="GuardarArchivo()" type="button" color="success"   mdbWavesEffect>Guardar Archivo</button>
        </form>


        <!--</button>(click)="ejecutar()"-->
        <form class="form-inline">          
            <button mdbBtn color="success"  class="waves-light" mdbWavesEffect type="button"><i class="fas fa-play"></i>Ejecutar</button>
        </form>
        
        <!--(click)="GenerarReporteTabla('TablaSim')"-->
        <form class="form-inline">
          <button mdbBtn color="success" class="waves-light" mdbWavesEffect type="button" >Tabla de Simbolos</button>
        </form>

        
        <!--(click)="recorrer('Ast')"-->
        <form class="form-inline">
          <button mdbBtn  color="success" class="waves-light" mdbWavesEffect type="button" >Reporte Ast</button>
        </form>


        <!--(click)="GenerarReporteErrores('TablaError')"-->
        <form class="form-inline">
          <button mdbBtn color="success" class="waves-light" mdbWavesEffect type="button" >Tabla de Errores</button>
        </form>

        <form class="form-inline">
          <button mdbBtn (click)="CrearArchivo()" color="success" type="button" class="waves-light" mdbWavesEffect>Crear Archivo</button>
        </form>

        <form class="form-inline">
          <button mdbBtn color="success" class="waves-light" mdbWavesEffect type="button" >Crear Pestaña</button>
        </form>

        <form class="form-inline">
          <button mdbBtn color="success" class="waves-light" mdbWavesEffect type="button" >Eliminar Pestaña</button>
        </form>
    </form>

  <br>

<div class="row">


  <!-- EDITORES DE TEXTO -->
   
  <div class="col-sm-6">
    <h3 style="color: aqua;"><i class="fas fa-file-code"></i> Entrada</h3> 
    <ngx-codemirror
      [(ngModel)]="entrada"
      [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'javascript'
      }"
    ></ngx-codemirror>
  </div>



  <div class="col-sm-6">
    <h3 style="color: aqua;"><i class="fas fa-terminal"></i> Consola</h3>
    <ngx-codemirror
    [(ngModel)]="consola"
    [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'markdown'
    }"
    ></ngx-codemirror>
  </div>
  
</div>
    
    <div id="TablaSim" *ngIf="MostrarTablaSimbolos" class="tabcontent" style="background-color: #212121;">
      <table mdbTable id= "tablasimbols" style="width:100%" border="true">
      </table>
    </div>

    <div id="Ast" *ngIf="MostrarTablaSimbolos" class="tabcontent" style="background-color: #212121;">
      <div class="overflow-auto" id = "graph" style= "text-align: center; " ></div>
      
      
    </div>
    <div id="TablaError" *ngIf="MostrarTablaSimbolos" class="tabcontent" style="background-color: #212121;">
      <table mdbTable id= "tablasErrores" style="width:100%" border="true">
      
      </table>
    </div>



<script type="text/javascript"></script>
