/* Create columns that floats next to each other */
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";
.column {
	float: left;
	width: 33.33%;
	padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

  .ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
	height: 100%;
	margin: 0;
	font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
  }
  
  .tablink:hover {
	background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
	color: white;
	display: none;
	padding: 100px 20px;
	height: 100%;
  }

  .title{
	  text-align: center;
	  color: white;
  }

  .btn{
	color: #777;
	background: transparent;
	border-radius: 6px;
  }

  .btn:hover{
	background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
	color: #483d8b;
  }

  #archivo{
	padding: 10px;
    width: 150px;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
    color: #777;
    transition: 500ms ease-in-out all;
  }

