nav{
    animation-duration: 2s;
    animation-name: nav;
}

@keyframes nav{
    from{
        transform: translate3d(0,-100%,0);
        opacity: 0;
    }
    to{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}