body {
    background-color: #7FC8A9;
  }
  .text-poppy-red {
    color: #ef5350 !important;
  }
  .btn-poppy-red {
    background-color: #ef5350 !important;
  }
  .bg-poppy-red {
    background-color: #ef5350 !important;
  }
  